#env
.env
firebase_key.json
# Entornos virtuales
venv/
dml_gpu/
tf_210_gpu/

# Archivos y carpetas de datos
data/
*.csv
*.h5
*.keras
*.ckpt
*.npz
*.npy
*.pkl
predicciones.txt

# Archivos temporales / caché
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Salidas de entrenamiento
*.tfrecord
checkpoint/
logs/
